.load{
	height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loadingspinner {
	pointer-events: none;
	width: 2.5em;
	height: 2.5em;
	border: 0.4em solid transparent;
	border-color: #eee;
	border-top-color: #3E67EC;
	border-radius: 50%;
	animation: loadingspin 1s linear infinite;
}
.Pofile{
  font-size: 28px;
}
@keyframes loadingspin {
	100% {
			transform: rotate(360deg)
	}
}

  .btn-main:hover{
    background-color: #02B290;
    color: white;
  }
  .btn:focus{
    box-shadow: none !important;
  }
  .cbtn{
    margin: 15px 5px 15px 5px;
    text-align: center;
  }
  .form-text{
    margin:5px;
    text-decoration: none;
    
  }
  #headtext{
    text-align: center;
  }
  .dash1{
    text-align: center;
    
  }  
  .dash2{
    box-shadow: 0 4px 8px 0 rgba(124, 8, 192, 0.2), 0 6px 20px 0 rgba(22, 42, 153, 0.384);
    border-radius: 25px;
    
  }
  .dash3{
    margin: 30px;
  }
  .ccard{
    top: 0;
    transition: top ease 0.3s;
    border-radius: 150px;
    text-align: center;
    color: white;
    margin: 10px;
    background-color:#38CC77;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .ccard:hover{
    animation-duration: 1.5s;
    top: -5px;
    transition: all 0.15s cubic-bezier(0.29, 0.73, 0.74, 1.02);
    background: rgb(206,39,214);
    background: linear-gradient(90deg, rgba(206,39,214,1) 13%, rgba(141,94,227,1) 43%);

  
  }
  .mainhead{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3cpath d='M838.9569706426528 158.82099214062578L798.2223266701078 6.797231206858783 646.1985657363408 47.531875179403755 686.9332097088858 199.55563611317075z' fill='rgba(75%2c 87%2c 92%2c 0.73)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M189.19285681615773 536.9419633992209L239.9369706203265 452.48957594488303 87.88633253673545 418.5995989657988z' fill='rgba(75%2c 87%2c 92%2c 0.73)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1148.7318622925354 432.1380960582129L1218.384099606126 568.8383087418035 1355.0843122897165 499.186071428213 1285.432074976126 362.48585874462236z' fill='rgba(75%2c 87%2c 92%2c 0.73)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M531.4692515600415 45.64525798821534L432.07479195429164 40.43621508724007 426.86574905331634 139.83067469298993 526.2602086590662 145.0397175939652z' fill='rgba(75%2c 87%2c 92%2c 0.73)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M571.819%2c431.12C612.28%2c428.906%2c645.597%2c401.361%2c664.255%2c365.39C681.423%2c332.291%2c678.885%2c293.262%2c660.002%2c261.11C641.377%2c229.398%2c608.522%2c210.336%2c571.819%2c208.004C530.026%2c205.349%2c484.972%2c213.619%2c461.827%2c248.518C436.54%2c286.646%2c436.422%2c337.374%2c460.029%2c376.564C482.96%2c414.632%2c527.444%2c433.548%2c571.819%2c431.12' fill='rgba(75%2c 87%2c 92%2c 0.73)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M427.6660295239251 147.7705296581423L344.90093919179037 219.71712503802897 416.8475345716771 302.48221537016366 499.61262490381176 230.53561999027698z' fill='rgba(75%2c 87%2c 92%2c 0.73)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M159.6484994099905 76.64964731044196L90.27230113484465 151.04651156117674 164.66916538557945 220.42270983632258 234.0453636607253 146.02584558558783z' fill='rgba(75%2c 87%2c 92%2c 0.73)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1042.0316627896573 396.7140243217783L1042.0316627896573 557.0802016285264 1202.3978400964054 557.0802016285263 1202.3978400964054 396.71402432177825z' fill='rgba(75%2c 87%2c 92%2c 0.73)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M901.9511109005573 231.08983855318792L870.1554088217734 143.73186505602305 755.0162996154181 235.10440492278119z' fill='rgba(75%2c 87%2c 92%2c 0.73)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  }
  .Projectdash{
    text-align: center;
    margin: 50px;
    
  }
  .slidecard{
    border-radius: 20px;
    margin-top: 80px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(36%2c 43%2c 46%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c460.695C85.519%2c453.677%2c119.353%2c344.037%2c188.091%2c292.676C250.1%2c246.342%2c348.651%2c244.292%2c382.67%2c174.76C416.69%2c105.227%2c362.664%2c25.915%2c356.354%2c-51.236C349.5%2c-135.042%2c388.823%2c-226.934%2c344%2c-298.077C298.245%2c-370.7%2c205.334%2c-394.713%2c123.544%2c-420.751C40.165%2c-447.295%2c-54.632%2c-490.456%2c-132.02%2c-449.618C-210.141%2c-408.394%2c-217.841%2c-301.104%2c-255.025%2c-220.981C-281.738%2c-163.422%2c-309.336%2c-108.576%2c-319.373%2c-45.919C-329.551%2c17.613%2c-331.682%2c81.427%2c-313.349%2c143.102C-292.999%2c211.561%2c-259.197%2c274.428%2c-209.037%2c325.267C-149.521%2c385.589%2c-84.456%2c467.626%2c0%2c460.695' fill='%231c2224'%3e%3c/path%3e%3cpath d='M1440 1171.435C1554.346 1158.7359999999999 1659.3609999999999 1114.127 1756.6100000000001 1052.654 1854.47 990.7950000000001 1967.283 927.039 2001.568 816.46 2035.277 707.739 1957.991 600.01 1931.255 489.368 1907.46 390.897 1911.116 285.094 1853.098 202.048 1791.7930000000001 114.29700000000003 1705.147 35.111999999999966 1599.975 15.177000000000021 1497.349-4.274999999999977 1408.01 85.144 1304.356 98.03800000000001 1171.297 114.58999999999997 1022.858 28.174999999999955 910.258 100.976 797.277 174.02300000000002 757.867 326.13 744.509 460.004 731.449 590.888 778.715 717.4639999999999 836.977 835.3910000000001 893.839 950.483 962.588 1065.892 1074.724 1128.3809999999999 1184.033 1189.295 1315.629 1185.2469999999998 1440 1171.435' fill='%232c3438'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    color: white;
  }

.profile{
  border-radius: 20px;
  margin-top: 80px;
  text-align: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M105 0C143.2 40.33 116.19 71.66 132.63 140C133.69 144.4 136.19 145.49 140 145.49C144.39 145.49 148.03 145.06 149.03 140C162.37 72.31 132.04 39.16 168.67 0C197.52 -30.84 224.33 0 280 0C350 0 350 0 420 0C490 0 490 0 560 0C630 0 630 0 700 0C770 0 770 0 840 0C910 0 910 0 980 0C1050 0 1050 0 1120 0C1190 0 1190 0 1260 0C1330 0 1330 0 1400 0C1470 0 1505 -35 1540 0C1575 35 1540 70 1540 140C1540 210 1540 210 1540 280C1540 350 1540 350 1540 420C1540 490 1575 525 1540 560C1505 595 1470 560 1400 560C1330 560 1330 560 1260 560C1190 560 1190 560 1120 560C1050 560 1050 560 980 560C910 560 910 560 840 560C770 560 770 560 700 560C655.66 560 654.61 565.88 611.33 560C584.61 556.37 585.93 540.99 560 540.99C529.46 540.99 529.99 555.71 498.4 560C459.99 565.22 459.2 560 420 560C350 560 350 560 280 560C210 560 210 560 140 560C70 560 35 595 0 560C-35 525 0 490 0 420C0 350 0 350 0 280C0 210 0 210 0 140C0 70 -30 40 0 0C22.5 -30 76.89 -29.67 105 0' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M560 91.39C524.02 91.39 478.6 114 478.6 140C478.6 167.47 525 198.33 560 198.33C584.12 198.33 596.84 168.38 596.84 140C596.84 114.91 583.14 91.39 560 91.39' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1260 71.63C1241.97 71.63 1228.04 104.52 1228.04 140C1228.04 195.24 1241.62 253.08 1260 253.08C1278.9 253.08 1302.61 194.44 1302.61 140C1302.61 103.71 1279.25 71.63 1260 71.63' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M280 239.02C260.94 239.02 252.46 260.1 252.46 280C252.46 297.73 261.95 314.29 280 314.29C315.72 314.29 360 298.51 360 280C360 260.88 314.71 239.02 280 239.02' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M420 358.75C411.07 358.75 397.73 389.91 397.73 420C397.73 443.87 410.96 466.67 420 466.67C428.46 466.67 432.73 443.53 432.73 420C432.73 389.57 428.57 358.75 420 358.75' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1400 380.63C1389.86 380.63 1376.67 402.51 1376.67 420C1376.67 431.32 1389.23 438.26 1400 438.26C1408.77 438.26 1415.75 430.45 1415.75 420C1415.75 401.63 1409.4 380.63 1400 380.63' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M53.53 0C68.21 50.7 57.06 72.98 40.53 140C30.3 181.48 10.75 217 0 217C-9.51 217 0 178.5 0 140C0 70 -19.36 50.64 0 0C7.4 -19.36 47.94 -19.3 53.53 0' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M261.94 140C231.92 73.3 204.67 47.81 210.84 0C213.7 -22.19 245.42 0 280 0C342.39 0 393.56 -30.86 404.78 0C419.01 39.14 377.71 82.36 330.91 140C315.32 159.19 304.12 153.66 280 153.66C269.64 153.66 266.5 150.13 261.94 140' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M560 42.78C513.09 7.8 445.93 11.05 445.93 0C445.93 -10.34 502.97 0 560 0C619.23 0 620.41 -4.74 678.46 0C690.41 0.98 689.32 11.43 700 11.43C710.09 11.43 708.73 0.92 720 0C778.73 -4.79 780 0 840 0C892.5 0 902.65 -17.83 945 0C972.65 11.64 959.55 58.95 980 58.95C1003.71 58.95 999.84 14.1 1033.33 0C1069.84 -15.37 1076.66 0 1120 0C1176.88 0 1218.46 -30.57 1233.75 0C1253.46 39.43 1198.19 68.49 1190 140C1182.15 208.49 1180.44 216.31 1201.67 280C1215.44 321.31 1231.84 314.21 1260 350C1286.93 384.21 1281.22 389.59 1311.85 420C1351.22 459.08 1359.3 488.99 1400 488.99C1433.12 488.99 1458.37 459.5 1459.5 420C1461.35 355.01 1433.39 349.7 1405.96 280C1403.64 274.1 1402.23 274.73 1400 268.8C1375.92 204.73 1353.33 202.84 1353.33 140C1353.33 93.72 1368.92 88.7 1400 50.56C1425.96 18.7 1429.81 13.58 1467.41 0C1499.81 -11.7 1527.61 -23.9 1540 0C1563.9 46.1 1540 70 1540 140C1540 210 1540 210 1540 280C1540 350 1540 350 1540 420C1540 478.55 1550.9 483.79 1540 537.09C1536.58 553.79 1528.7 557.16 1511.36 560C1458.7 568.62 1455.68 560 1400 560C1331.95 560 1330.13 563.16 1263.89 560C1260.13 559.82 1263.64 554.44 1260 553.33C1191.7 532.56 1178.87 552.1 1120 516.25C1069.39 485.43 1074.78 471.89 1041.03 420C1004.78 364.26 1021.47 301 980 301C924.84 301 866.58 350.42 847.78 420C831.58 479.92 912.67 511.95 910 560C908.78 581.95 875 560 840 560C793.34 560 790.39 569.72 746.67 560C720.39 554.16 726.24 537.64 700 528.89C632.91 506.53 622.06 528.24 560 497.78C511.15 473.8 490.07 468.08 478.18 420C463.14 359.19 477.16 337.87 506.15 280C518.07 256.21 533.47 256.67 560 256.67C582.98 256.67 584.07 265.94 605.16 280C654.07 312.61 657.4 350 700 350C732.04 350 754.44 311.94 754.44 280C754.44 254.66 722.77 261.84 700 235.45C662.39 191.84 667.83 187 633.68 140C597.83 90.67 606.97 77.8 560 42.78' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M840 112C828.01 112 823.53 126.5 823.53 140C823.53 151.27 828.98 161.54 840 161.54C861.92 161.54 889.41 152.06 889.41 140C889.41 127.29 860.95 112 840 112' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M38.18 280C74.61 235.53 94.07 214.12 140 214.12C172.52 214.12 167.94 246.73 195.08 280C237.94 332.53 235.35 334.93 280 385.71C296.9 404.93 304.52 398.64 318.18 420C360.26 485.78 402.67 518.95 391.48 560C383.58 588.95 335.74 560 280 560C215.95 560 208.47 571.31 151.91 560C138.47 557.31 151.71 541.17 140 532C75.75 481.67 62.18 490.74 0 441C-7.82 434.74 0 430.5 0 420C0 402.5 -4.55 401.7 0 385C14.54 331.7 4.61 320.97 38.18 280' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2.06 0C2.06 3.84 0.52 9.33 0 9.33C-0.51 9.33 -0.84 3.82 0 0C0.19 -0.84 2.06 -0.83 2.06 0' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M280 60.54C262.58 60.54 253.01 21.51 253.01 0C253.01 -8.76 266.5 0 280 0C304.35 0 328.7 -11.66 328.7 0C328.7 18.61 300.42 60.54 280 60.54' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M670.53 140C670.53 112.4 681.1 82.86 700 82.86C723.29 82.86 754.9 113.46 754.9 140C754.9 163.24 724.18 182.42 700 182.42C682 182.42 670.53 162.18 670.53 140' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1036 140C1039.7 89.5 1087.3 50.91 1120 50.91C1145.28 50.91 1150.21 94.17 1151.96 140C1154.58 208.71 1139.42 209.86 1128.75 280C1123.44 314.86 1126.32 350 1120 350C1113.55 350 1116.5 313.26 1103.2 280C1074.5 208.26 1031.3 204.05 1036 140' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M819.26 280C819.26 265.17 827.54 251.28 840 251.28C856.57 251.28 877.33 264.73 877.33 280C877.33 296.59 856.18 315 840 315C827.14 315 819.26 297.03 819.26 280' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1480.43 280C1487.79 237.21 1523.24 206.32 1540 206.32C1553.03 206.32 1540 243.16 1540 280C1540 350 1540 350 1540 420C1540 446.73 1548.3 473.45 1540 473.45C1529.93 473.45 1512.6 450.35 1503.25 420C1482.81 353.63 1469.41 344.05 1480.43 280' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M523.64 420C523.64 383.53 530.68 340 560 340C607.2 340 676.67 389.2 676.67 420C676.67 446.49 614.18 454.57 560 454.57C537.66 454.57 523.64 440.82 523.64 420' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M226.38 560C226.38 533.79 254.45 478.71 280 478.71C304.59 478.71 326.67 532.87 326.67 560C326.67 573.51 303.34 560 280 560C253.19 560 226.38 574.43 226.38 560' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1361.11 560C1361.11 554.62 1381 539.71 1400 539.71C1416.35 539.71 1431.82 554.5 1431.82 560C1431.82 564.64 1415.91 560 1400 560C1380.55 560 1361.11 564.77 1361.11 560' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  color: white;
}
.slide{
  text-align: center;
  margin: 40px;
}
.pic{
  height: 80px;
  width: 80px;
}
  .circle{
    position: relative; margin-top: -61px;
    border-radius: 50px;
    border: 3px solid #3944F7;
    ;
    transition: transform .2s; /* Animation */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100px;
  }
  .circle:hover{
    
    transform: scale(1.1);
    box-shadow: 0 6px 12px 0 rgba(33, 63, 233, 0.2), 0 8px 22px 0 rgba(115, 12, 175, 0.19);
}
.modal-content{
  margin-top: 80px;
}
.hidebtn{
  display: none;
}
  @media only screen and (max-width: 1200px) {
    .regi{
      margin-left:100px;
      margin-right:100px;
    }
    
  }
  @media only screen and (max-width: 600px) {
    .regi{
      margin-left:20px;
      margin-right:20px;
    }
    
  }