

  .btn-main:hover{
    background-color: #02B290;
    color: white;
  }
  .btn:focus{
    box-shadow: none !important;
  }
  .cbtn{
    margin: 15px 5px 15px 5px;
    text-align: center;
  }
  .regi{
    border-radius: 25px;
    margin-left:400px;
    margin-right:400px;
  }
  .form-text{
    margin:5px;
    text-decoration: none;
    
  }
  #headtext{
    text-align: center;
  }
  .dash1{
    text-align: center;
  }  
  .dash2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
  }
  .dash3{
    margin: 30px;
  }
  .ccard{
      border-radius: 50px;
      text-align: center;
      color: white;
      background-color:#DE4839;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  @media only screen and (max-width: 1200px) {
    .regi{
      margin-left:100px;
      margin-right:100px;
    }
    
  }
  @media only screen and (max-width: 600px) {
    .regi{
      margin-left:20px;
      margin-right:20px;
    }
    
  }